@model ElectricInventorySystem.Models.Supplier

<h2>Add Supplier</h2>

<form method="post">

    <input asp-for="Name" placeholder="Name" class="form-control mb-2" />
    <input asp-for="Phone" placeholder="Phone" class="form-control mb-2" />
    <input asp-for="Email" placeholder="Email" class="form-control mb-2" />
    <input asp-for="Address" placeholder="Address" class="form-control mb-2" />

    <button type="submit" class="btn btn-primary">Save</button>

</form>